
.form-area {
 margin: 80px 100px 50px 50px;
 background-color: #745399;
 color: #fff;
}

.input-error {
 color: #f0908d;
 font-size: 120%;
 margin: 10px 100px 10px 50px;
}
.reset-btn{
cursor: pointer;
font-size: 110%;
margin: 10px 10px 10px 30px;
padding       : 10px 10px;
}
.new-btn {
 background-color: #745399;
 color: #fff;
cursor: pointer;
font-size: 120%;
margin: 0px 0px 10px 600px;
padding       : 10px 10px;
border: none;
}

h1 {
 margin-left: 30px;
}