body {
  background-color: #a59aca;
  color: #fff;
}

.input-date {
  margin: 40px 100px 30px 50px;
}

.input-text {
  margin: 50px 800px 10px 50px;
}

#inputDate {
  margin: 10px 100px 10px 50px;
  width: 20%;
  font-size: 150%;
}

.input-error {
  color: #d7003a;
  font-size: 140%;
  margin: 10px 100px 10px 50px;
}

.calc-btn, .reset-btn {
  cursor: pointer;
  font-size: 110%;
  margin: 10px 10px 10px 30px;
  padding: 10px 10px;
  font-weight: bold;
}

.new-btn {
  display: inline-block;
  background-color: #82ae46;
  color: #fff;
  cursor: pointer;
  font-size: 120%;
  margin: 0px 0px 10px 450px;
  padding: 10px 10px;
  border: none;
  text-decoration: none;
}

.new-btn:hover {
  opacity: 0.8;
}

.complete-message{
  color: #d7003a;
  font-weight: bold;
  font-size: 120%;
  margin-left: 50px;
}

.result-head {
  background-color: #fff;
  padding-top: 1px;
}

.result-table {
  background-color: #fff;
  display: flex;
}

.result-bottom {
  background-color: #fff;
  color: #fff;
}

h3 {
  color: #17184b;
  margin: 30px 0px 10px 200px;
  border-bottom: medium solid #d7003a;
  display: inline-block
}

.table1 {
  width: 70%;
  border-collapse: collapse;
  font-size: 18px;
  margin-left: 100px;
}

.table2 {
  width: 150px;
  border-collapse: separate;
  font-size: 17px;
}

table th, table td {
  border: 2px solid #17184b;
  padding: 6px;
  color: #17184b;
  text-align: center;
}

table th {
  background-color: #afeeee;
}

.th1,.td1{
  width: 7%;
}

.th2,.td2{
  width: 23%;
}

.th3,.td3{
  width: 30%;
}

.th4,.td4{
 width: 20%;
}

.change-btn {
  background-color: #eb6101;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  padding: 5px;
  border: none;
}

.delete-btn {
  background-color: #fff;
  color: #eb6101;
  cursor: pointer;
  font-size: 100%;
  padding: 5px;
  border: thin solid #eb6101;
}

footer {
  background-color: #a59aca;
  color: #fff;
}

h1 {
  margin-left: 30px;
}
