<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Date Calculation</title>
  <link th:href="@{/css/top_style.css}" rel="stylesheet" type="text/css"> </head>
<body>
<header>
<a href="" >TOPへ戻る</a>
<h2>入力内容の確認</h2>
</header>
 <div class="form-area">
 <form  method="post" action="#" th:action="@{/calculation/comfirm}" >


<input type="submit" value="登録する" class="register-btn" >
<input type="reset" value="戻る" class="reset-btn">

</form>
</div>

  <footer>
<h1>日付計算アプリ</h1>
</footer> 
</body>
</html>
