<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  	<meta charset="utf-8" />
  	<title>Date Calculation</title>
  	<link th:href="@{/css/new_confirm_style.css}" rel="stylesheet" type="text/css">
  	<script th:src="@{/js/confirm.js}"></script> 
</head>  	
<body>
	<header>
		<a href="/calculation/top" class="back">TOPへ戻る</a>
		<h2>入力内容の確認</h2>
 	</header>
  	<div  th:object="${formulaData}">
		<table >
			<tr>
				<td class="td1">登録名：</td>
				<td th:text="*{name}" class="td2"></td>
			</tr>
			<tr>
				<td class="td1">説明：</td>
				<td th:text="*{detail}" class="td2"></td>
			</tr>
			<tr>
				<td class="td1">加減値（年）：</td>
				<td th:text="*{year}" class="td2"></td>
			</tr>
			<tr>
				<td class="td1">加減値（月）：</td>
				<td th:text="*{month}" class="td2"></td>
			</tr>
			<tr>
				<td class="td1">加減値（日）：</td>
				<td th:text="*{day}" class="td2"></td>
			</tr>
		</table>
    	<form method="get" action="#" th:action="@{/calculation/new}"> 
    		<input name="name" type="hidden" th:value="*{name}"> 
    		<input name="detail" type="hidden" th:value="*{detail}"> 
    		<input name="year" type="hidden" th:value="*{year}"> 
    		<input name="month" type="hidden" th:value="*{month}">
    		<input name="day" type="hidden" th:value="*{day}">
    		<input type="submit" value="戻る" class="back-btn">
    	</form>
    	<form method="post" action="#" th:action="@{/calculation/complete}">
    		<input name="name" type="hidden" th:value="*{name}">	
    		<input name="detail" type="hidden" th:value="*{detail}">
    		<input name="year" type="hidden" th:value="*{year}"> 
    		<input name="month" type="hidden" th:value="*{month}"> 
    		<input name="day" type="hidden" th:value="*{day}">
    		<input type="submit" value="登録する" class="register-btn" id="submit_button" onClick="delayExec()" >
    	</form>
  	</div>
	<footer>
		<h1>日付計算アプリ</h1>
	</footer>
</body>
</html>
