<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Date Calculation</title>
  <link th:href="@{/css/new_style.css}" rel="stylesheet" type="text/css">
  <script th:src="@{/js/new.js}"></script> 
</head>
<body>
	<header>
		<h2>計算式の新規登録</h2> 
		<a th:href="@{'/calculation/top'}" class="back">TOPへ戻る</a>
	</header>
 	<div class="form-area">
 		<form method="post" action="#" th:action="@{/calculation/new-confirm}" th:object="${formulaData}"> 
 		 	<label for="name" class="input-label">登録名を入力して下さい。</label><span class="required">＊</span>
 		  	<span class="input-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id ="nameError"></span><br> 
 		  	<input type="text" id="name" name="name" max="30" placeholder="登録名" class="input-box" th:value="*{name}"><br>
 		  
 		  	<label for="detail" class="input-label">説明を入力して下さい。　</label><span class="required">＊</span>
 		  	<span class="input-error" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" id ="detailError"></span><br>
 		  	<input type="text" id="detail" name="detail" max="100" placeholder="説明" class="input-box" th:value="*{detail}"><br>
 		  
 			<label for="year" class="input-label">加減値（年）を選択して下さい。</label><br> 
 		 	<input type="number" id="year" name="year" min="-100" max="100" placeholder="0" class="input-box" th:value="*{year}"><br>
 		 
 		 	<label for="month" class="input-label">加減値（月）を選択して下さい。</label><br>
 		 	<input type="number" id="month" name="month" min="-11" max="11" placeholder="0" class="input-box" th:value="*{month}"><br>
 		
 		 	<label for="day" class="input-label">加減値（日）を選択して下さい。</label><br>
 		 	<input type="number" id="day" name="day" min="-364" max="364" placeholder="0" class="input-box" th:value="*{day}"><br>
 			<div class="btn-area">
 				<input type="reset" value="リセット" class="reset-btn">
 				<input type="submit" value="　次へ　" class="next-btn">
 			</div>
 		</form>
 	</div>
 	<footer>
    		<h1>日付計算アプリ</h1>
    </footer>
</body>
</html>
