<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Date Calculation</title>
  <link th:href="@{/css/top_style.css}" rel="stylesheet" type="text/css"> </head>
<body>
 <div class="input-date">
 <form  method="post" action="#" th:action="@{/calculation/top}" >
<h2><label for="inputDate" class="input-text" >基準となる日付を入力して下さい</label></h2>
<input type="date" id="inputDate" name="inputDate"  >

<input type="submit" value="計算する" class="calc-btn" >
<input type="reset" value="リセットする" class="reset-btn">
<p  class="input-error" th:text="${inputError}"></p>
</form>
</div>

<div class="result-head">
<h3>入力した基準日：<span class="id" th:text="${id}"></span></h3>
<input type="button" value="新規登録" class="new-btn">
</div>
<div class="result-table">
  <table>
    <tr>
      <th>ID</th>
						<th>登録名</th>
						<th>説明</th>
						<th>計算式（年/月/日）</th>
						<th>変更</th>
						<th>削除</th>
						<th>計算結果</th>
    </tr>
    
    
  </table>
   </div>
  <footer>
<h1>日付計算アプリ</h1>
</footer>
</body>
</html>
